#imageInput {

    margin-bottom: 15px; /* Add some space between input and button */
}

#uploadButton {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#testButton {
    background-color: rgb(0, 128, 255);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#output {
    margin-top: 20px;
}